body {
    font-size: 2em;
    font-family: Sans;
    color: #444;
    text-align: justify;
}

a {
    color: #bbb;
}

div#container {
    margin: 1em auto;
    max-width: 600px;
    padding: 1em;
}

div#container * {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

div#current_word {
    align-items: center;
    color: #3fa0af;
    display: flex;
    height: 2em;
    justify-content: center;
    padding: 1em 0;
    font-size: 1.5em;
}

div#current_typing {
    border-radius: 0.8em;
    border: 1px solid #444;
    box-shadow: inset 0px 0px 5px 2px #ddd;
    box-sizing: border-box;
    height: 2.2em;
    overflow-x: none;
    overflow-y: scroll;
    padding: 0.4em 1em;
    white-space: nowrap;
    transition: background 0.2s ease, padding 0.8s linear;
}

div#current_typing.active-bad {
    border: 1px solid #f22;
    background-color: #fee;
}

div#current_word.finished {
    color: #9c9;
}

div#current_typing.finished {
    border: 1px solid #7a7;
    background-color: #efe;
    box-shadow: none;
}

::-webkit-scrollbar { 
    display: none; 
}

